<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Usuarios</span>
          <button class="btn btn-success float-end" routerLink="/crearUsuario">Nuevo</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Cedula</th>
                <th scope="col">Matricula</th>
                <th scope="col">Tipo Usuario</th>
                <th scope="col">Rentas</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of usuarios">
                <td>{{x.NOMBRE}}</td>
                <td>{{x.APELLIDO}}</td>
                <td>{{x.CEDULA}}</td>
                <td>{{x.MATRICULA}}</td>
                <td>{{x.ID_TIPO_USUARIO}}</td>
                <td>{{x.RENTAS}}</td>
                <td *ngIf="x.ESTADO">Activo</td>
                <td *ngIf="!x.ESTADO">Inactivo</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger" (click)="eliminarUsuario(x.ID)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



