<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Rentas</span>
          <button class="btn btn-success float-end" routerLink="/crearRenta">Nuevo</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Numero Prestamo</th>
                <th scope="col">Empleado</th>
                <th scope="col">Equipo</th>
                <th scope="col">Usuario</th>
                <th scope="col">Fecha Prestamo</th>
                <th scope="col">Fecha Devolucion</th>
                <th scope="col">Comentario</th>
                <th scope="col">Estado</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of rentas">
                <td>{{x.NUMERO_PRESTAMO}}</td>
                <td>{{x.ID_EMPLEADO}}</td>
                <td>{{x.ID_EQUIPO}}</td>
                <td>{{x.ID_USUARIO}}</td>
                <td>{{x.FECHA_PRESTAMO}}</td>
                <td>{{x.FECHA_DEVOLUCION}}</td>
                <td>{{x.COMENTARIO}}</td>
                <td *ngIf="x.ESTADO">Activo</td>
                <td *ngIf="!x.ESTADO">Inactivo</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger" (click)="eliminarRenta(x.ID)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

