<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Rentas</span>
          <button class="btn btn-success float-end" routerLink="/crearRenta">Nuevo</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">ID Renta</th>
                <th scope="col">Numero Prestamo</th>
                <th scope="col">ID Empleado</th>
                <th scope="col">ID Equipo</th>
                <th scope="col">ID Usuario</th>
                <th scope="col">Fecha Prestamo</th>
                <th scope="col">Fecha Devolucion</th>
                <th scope="col">Comentario</th>
                <th scope="col">Estado</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>105520</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>11/12/12</td>
                <td>12/12/12</td>
                <td>Comentario</td>
                <td>Activo</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

