<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Rentas</span>
          <button class="btn btn-success float-end" routerLink="/crearRenta">Nuevo</button>
          <button class="btn btn-success float-end" (click)="generarReportes()">Exportar</button>
          <div class="container-fluid">
            <div class="row">
              <select
                class="form-select w-50 mt-3"
                aria-valuetext="Default select example" [(ngModel)]="categorySelected"
                (change)="changeState()"
              >
                <option selected [ngValue]="null">Seleccionar Categoria</option>
                <option *ngFor="let category of categories" [ngValue]="category.value">{{category.name}}</option>
              </select>
              <div class="input-group mt-3">
                <div class="form-outline">
                  <input
                    type="search"
                    [disabled] = "disableSearch"
                    (keyup)="search($any($event.target).value)"
                    id="form1"
                    class="form-control"
                    placeholder="Search"
                  />
                </div>
              </div>
              <div class="mt-3 float-left" *ngIf="categorySelected == 'FECHA_PRESTAMO'">
                <input type="date" [(ngModel)]="initialDate" (change)="changeState()">
              </div>
              <div class="mt-3 float-left" *ngIf="categorySelected == 'FECHA_PRESTAMO'">
                <input type="date" [(ngModel)]="finalDate" (change)="changeState()">
              </div>
              <div class="mt-3 float-left" *ngIf="categorySelected == 'FECHA_DEVOLUCION'">
                <input type="date" [(ngModel)]="initialDate" (change)="changeState()">
              </div>
              <div class="mt-3 float-left" *ngIf="categorySelected == 'FECHA_DEVOLUCION'">
                <input type="date" [(ngModel)]="finalDate" (change)="changeState()">
              </div>
            </div>
          <table class="table table-striped mt-3" id="tablaReporte" #reportes>
            <thead>
              <tr>
                <th scope="col">Numero Prestamo</th>
                <th scope="col">Cedula Empleado</th>
                <th scope="col">Nombre Equipo</th>
                <th scope="col">Matricula Usuario</th>
                <th scope="col">Fecha Prestamo</th>
                <th scope="col">Fecha Devolucion</th>
                <th scope="col">Comentario</th>
                <th scope="col">Estado</th>
                <th id="edit" scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of filterData">
                <td>{{x.NUMERO_PRESTAMO}}</td>
                <td>{{x.ID_EMPLEADO.CEDULA}}</td>
                <td>{{x.ID_EQUIPO.DESCRIPCION}}</td>
                <td>{{x.ID_USUARIO.MATRICULA}}</td>
                <td>{{x.FECHA_PRESTAMO | date: 'dd/MM/yyyy'}}</td>
                <td>{{x.FECHA_DEVOLUCION | date: 'dd/MM/yyyy'}}</td>
                <td>{{x.COMENTARIO}}</td>
                <td *ngIf="x.ESTADO">Activo</td>
                <td *ngIf="!x.ESTADO">Inactivo</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger" (click)="eliminarRenta(x.ID)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

