<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Crear Renta</span>
          <form class="mt-3" [formGroup]="rentaForm" (ngSubmit)="agregarRenta()">
            <div class="mb-3">
              <input type="text" formControlName="numero_prestamo" class="form-control form-control-lg" placeholder="Numero Prestamo">
              <div class="text-danger" *ngIf="rentaForm.get('numero_prestamo')?.hasError('required') && rentaForm.get('numero_prestamo')?.touched">
                <span>El numero de prestamo <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="id_empleado">
                <option value="">Elige el empleado</option>
                <option *ngFor="let item of empleados" [value] = "item.ID" >{{item.NOMBRE}}</option>
              </select>
              <div class="text-danger" *ngIf="rentaForm.get('id_empleado')?.hasError('required') && rentaForm.get('id_empleado')?.touched">
                <span>El id de empleado <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="id_equipo">
                <option value="">Elige el equipo</option>
                <option *ngFor="let item of equipos" [value] = "item.ID" >{{item.NOMBRE}}</option>
              </select>
              <div class="text-danger" *ngIf="rentaForm.get('id_equipo')?.hasError('required') && rentaForm.get('id_equipo')?.touched">
                <span>El equipo <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="id_usuario">
                <option value="">Elige el usuario</option>
                <option *ngFor="let item of usuarios" [value] = "item.ID" >{{item.NOMBRE}}</option>
              </select>
              <div class="text-danger" *ngIf="rentaForm.get('id_usuario')?.hasError('required') && rentaForm.get('id_usuario')?.touched">
                <span>El usuario <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <input class="form-control" type="date" [value]="minDate" (change)="fechaTest1($any($event.target).value)" id="example-date-input" formControlName="fecha_prestamo">
              <div class="text-danger" *ngIf="rentaForm.get('fecha_prestamo')?.hasError('required') && rentaForm.get('fecha_prestamo')?.touched">
                <span>La fecha del prestamo <strong>es obligatoria</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <input class="form-control" type="date" [value]="minDate" (change)="fechaTest2($any($event.target).value)" id="example-date-input" formControlName="fecha_devolucion">
              <div class="text-danger" *ngIf="rentaForm.get('fecha_devolucion')?.hasError('required') && rentaForm.get('fecha_devolucion')?.touched">
                <span>La fecha de devolucion <strong>es obligatoria</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <input type="textarea" formControlName="comentario" class="form-control form-control-lg" placeholder="Comentario">
              <div class="text-danger" *ngIf="rentaForm.get('comentario')?.hasError('required') && rentaForm.get('comentario')?.touched">
                <span>El comentario <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="estado">
                <option value="">Elige el estado</option>
                <option *ngFor="let item of arrEstado" [value] = "item.value">{{item.estatus}}</option>
              </select>
              <div class="text-danger" *ngIf="rentaForm.get('estado')?.hasError('required') && rentaForm.get('estado')?.touched">
                <span>El estado <strong>es obligatorio</strong>.</span>
              </div>
            </div>

            <div class="mb-3">
              <button routerLink="/listarRenta" class="btn btn-secondary btn-lg float-start">Back</button>
              <button type="submit" [disabled]="rentaForm.invalid" class="btn btn-success btn-lg float-end">Accept</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
