<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Equipos</span>
          <button class="btn btn-success float-end" routerLink="/crearEquipo">Nuevo</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">Numero Serial</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Tipo Equipo</th>
                <th scope="col">Tecnologia Conexion</th>
                <th scope="col">Estado</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Proyector M5</td>
                <td>0088008</td>
                <td>Nissan</td>
                <td>Proyect</td>
                <td>Proyector</td>
                <td>Bluetooth</td>
                <td>Activo</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
