<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{funcion}}</span>
          <form class="mt-3" [formGroup]="tipoTecnologiaForm" (ngSubmit)="agregarTipoTecnologia()">
            <div class="mb-3">
              <input type="text" formControlName="descripcion" class="form-control form-control-lg" placeholder="Descripcion">
              <div class="text-danger" *ngIf="tipoTecnologiaForm.get('descripcion')?.hasError('required') && tipoTecnologiaForm.get('descripcion')?.touched">
                <span>La descripcion <strong>es obligatoria</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="estado">
                <option value="">Elige el estado</option>
                <option *ngFor="let item of arrEstado" [value] = "item.value">{{item.estatus}}</option>
              </select>
              <div class="text-danger" *ngIf="tipoTecnologiaForm.get('estado')?.hasError('required') && tipoTecnologiaForm.get('estado')?.touched">
                <span>El estado <strong>es obligatorio</strong>.</span>
              </div>
            </div>

            <div class="mb-3">
              <button routerLink="/listarTecnologia" class="btn btn-secondary btn-lg float-start">Back</button>
              <button type="submit" [disabled]="tipoTecnologiaForm.invalid" class="btn btn-success btn-lg float-end">Accept</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
