<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Crear Equipo</span>
          <form class="mt-3" [formGroup]="equipoForm" (ngSubmit)="agregarEquipo()">
            <div class="mb-3">
              <input type="text" formControlName="descripcion" class="form-control form-control-lg" placeholder="Descripcion">
              <div class="text-danger" *ngIf="equipoForm.get('descripcion')?.hasError('required') && equipoForm.get('descripcion')?.touched">
                <span>El nombre del producto <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <input type="text" formControlName="numeroSerial" class="form-control form-control-lg" placeholder="Numero Serial">
              <div class="text-danger" *ngIf="equipoForm.get('numeroSerial')?.hasError('required') && equipoForm.get('numeroSerial')?.touched">
                <span>El numero serial <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="obtenerModelosMarca($any($event.target).value)" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="marca">
                <option value="">Elige la marca</option>
                <option *ngFor="let item of marcas" [value] = "item.ID" >{{item.NOMBRE}}</option>
              </select>
              <div class="text-danger" *ngIf="equipoForm.get('marca')?.hasError('required') && equipoForm.get('marca')?.touched">
                <span>La marca <strong>es obligatoria</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="modelo">
                <option value="">Elige el modelo</option>
                <option *ngFor="let item of modelos" [value] = "item.ID" >{{item.NOMBRE}}</option>
              </select>
              <div class="text-danger" *ngIf="equipoForm.get('modelo')?.hasError('required') && equipoForm.get('modelo')?.touched">
                <span>El modelo <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="idTipoNumero">
                <option value="">Elige el tipo de equipo</option>
                <option *ngFor="let item of tipoEquipos" [value] = "item.ID" >{{item.DESCRIPCION}}</option>
              </select>
              <div class="text-danger" *ngIf="equipoForm.get('idTipoNumero')?.hasError('required') && equipoForm.get('idTipoNumero')?.touched">
                <span>El ID del tipo <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="idTipoTecnologia">
                <option value="">Elige el tipo de tecnologia</option>
                <option *ngFor="let item of tipoTecnologia" [value] = "item.ID" >{{item.DESCRIPCION}}</option>
              </select>
              <div class="text-danger" *ngIf="equipoForm.get('idTipoTecnologia')?.hasError('required') && equipoForm.get('idTipoTecnologia')?.touched">
                <span>El ID de technologia <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="estado">
                <option value="">Elige el estado</option>
                <option *ngFor="let item of arrEstado" [value] = "item.value">{{item.estatus}}</option>
              </select>
              <div class="text-danger" *ngIf="equipoForm.get('estado')?.hasError('required') && equipoForm.get('estado')?.touched">
                <span>El estado <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <button routerLink="/" class="btn btn-secondary btn-lg float-start">Back</button>
              <button type="submit" [disabled]="equipoForm.invalid" class="btn btn-success btn-lg float-end">Accept</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
