<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{funcion}}</span>
          <form class="mt-3" [formGroup]="modeloForm" (ngSubmit)="agregarModelo()">
            <div class="mb-3">
              <input type="text" formControlName="NOMBRE" class="form-control form-control-lg" placeholder="Nombre modelo" [value]="this.modelo.NOMBRE">
              <div class="text-danger" *ngIf="modeloForm.get('NOMBRE')?.hasError('required') && modeloForm.get('NOMBRE')?.touched">
                <span>El nombre del modelo <strong>es obligatorio</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="ID_MARCA">
                <option value="">Elige la marca</option>
                <option *ngFor="let item of marcas" [value] = "item.ID" >{{item.NOMBRE}}</option>
              </select>
              <div class="text-danger" *ngIf="modeloForm.get('ID_MARCA')?.hasError('required') && modeloForm.get('ID_MARCA')?.touched">
                <span>La marca <strong>es obligatoria</strong>.</span>
              </div>
            </div>
            <div class="mb-3">
              <select (change)="$any($event.target).value" class="form-select form-control form-control-lg" aria-valuetext="Default select example" formControlName="ESTADO">
                <option value="">Elige el estado</option>
                <option *ngFor="let item of arrEstado" [value] = "item.value">{{item.estatus}}</option>
              </select>
              <div class="text-danger" *ngIf="modeloForm.get('ESTADO')?.hasError('required') && modeloForm.get('ESTADO')?.touched">
                <span>El estado <strong>es obligatorio</strong>.</span>
              </div>
            </div>

            <div class="mb-3">
              <button routerLink="/listarModelo" class="btn btn-secondary btn-lg float-start">Back</button>
              <button type="submit" [disabled]="modeloForm.invalid" class="btn btn-success btn-lg float-end" *ngIf="funcion == 'Actualizar modelo'">Update</button>
              <button type="submit" [disabled]="modeloForm.invalid" class="btn btn-success btn-lg float-end" *ngIf="funcion == 'Crear modelo'">Accept</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
