<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Empleados</span>
          <button class="btn btn-success float-end" routerLink="/crearEmpleado">Nuevo</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Tanda</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Estado</th>
                <th scope="col">Rentas</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Elias El Rey</td>
                <td>427-35887-25</td>
                <td>Nocturna</td>
                <td>08/12/2008</td>
                <td>Activo</td>
                <td>Grande</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
